
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{
    background: rgb(248, 240, 226);
    height: 100vh;
}

.head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    background: rgb(248, 240, 226);
}

.logo{
    width: 50px;
    padding: 20px;
    color: tomato;
    font-size: 35px;
    margin-right: 50px;
}
/* .search{
    display: block;
    margin-top:10px;
    margin-left: 90px;
    width: 700px;
    height: 50px;
    border: 2px solid black;
    border-radius: 25px;
    padding: 5px;
} */
.search-bar{
    margin-top:10px;
    margin-left: 90px;
    width: 700px;
    height: 50px;
    border: 2px solid black;
    background:white;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(100%);
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    
}
.search-bar button img{
    width: 25px;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #58629b;
    cursor: pointer;
}
.sign{
   margin: 20px;
   width: 80px; 
}
.sign a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.sign:hover{
   border: 1px solid  rgb(236, 236, 236);
   border-radius: 50%;
   height: 30px;
   background: rgb(236, 236, 236);
   
}
.icon-fav{
    margin: 20px;
   cursor: pointer;
   transition: 0.4s ease-in-out;
}
.icon-fav:hover{
    transform: scale(1.1);
}
.icon-cart{
    margin: 20px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.icon-cart:hover{
    transform: scale(1.1);
}
.menu{
    display: flex;
    text-align: center;
    justify-content: center;
}
.menu a{
    text-decoration: none;
    color: black;
    margin: 20px 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dis{
   text-align: center;
}
.photes{
   margin-left: 100px;
}
.imges{
    border: 1px solid;
    border-radius: 50%;
    align-items: center;
    margin: 12px;
    margin-left: 50px;
}
.imge{
    align-items: center;
    display: flex;
    margin-left: 110px;
}
.imge:hover{
cursor: pointer;

}
.all{
    border: solid 1px  rgb(248, 240, 226);
    padding: 10px;
    transition: 0.4s ease-in-out;
}
.all:hover{
    transform: scale(1.1);
}
.all h4{
    padding: 20px;
    text-align: center;
}
.Recently{
    margin-top: 100px;
    text-align: left;
}
.Recently h4{
    padding: 20px;
}
.Recently h5{
    text-align: right;
    color: rgb(114, 110, 110);
}
.ten{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}
.ten1{
    margin: 20px;
    border: solid 1px rgb(248, 240, 226);
    border-radius: 12px;
    cursor: pointer;
    transition: 0.4s ease-out;
}
.ten1:hover{
    transform: scale(1.1);
}
.cuz{
    margin-top: 20px;
    padding: 20px;
}
.ten2{
    margin-top: 70px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-left: 20px;

}
.ten3{
    border: solid 1px rgb(248, 240, 226);
    border-radius: 15px;
    width: 300px;
    height: 300px;
    transition: 0.4s ease-in;
}
.ten3:hover{
    transform: scale(1.1);
}
.ten12{
    border: solid 1px rgb(248, 240, 226);
    margin: 20px;
    transition: 0.4s;
}
.ten12:hover{
    transform: scale(1.1);
}
.ten12 img{
    border: solid 1px rgb(248, 240, 226);
    border-radius: 10px;
    cursor: pointer;
}
.ten12 button{
    
    text-align: right;
    border: solid 1px rgb(182, 165, 165);
    background: gray;
    color: black;
    border-radius: 12px;
    width: 70px;
    padding: 5px;
    margin-left: 100px;
    margin-top: 4px;
    
}
.gifts img{
    margin-top: 10px;
    padding-left: 30px;
    border-radius: 25px;
   transition: 0.4s ease-in-out;
   cursor: pointer;
}
.gifts img:hover{
    transform: scale(1.1);
}
.gift22{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.cata{
    margin-top: 50px;
    padding: 20px;
}
.color{
    background: rgb(219, 208, 208);
}
.she{
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}
.shega{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.shega h2 {
    padding: 40px;
}
.shega p{
    padding: 30px;
}
.h2b{
    text-align: center;
}
.h2b button{
    border: solid 1px;
    width: 150px;
    height: 40px;
    padding: 10px;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
.emi{
    background: rgb(186, 201, 201);
    padding: 30px;
    text-align: center;
}
.emi input{
    border: solid 1px;
    border-radius: 50px;
    width: 500px;
    height: 40px;
    padding: 10px;
    margin-top: 20px;
}
.fo{
    text-align: center;
   padding: 30px;
    background: rgb(86, 86, 240);
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #333;
}
.shope{
margin-top: 30px;
margin-left: 20px;
}
.sell{
    margin-top: 30px;
    margin-left: 20px;
}
.about{
margin-top: 30px;
margin-left: 20px;
}
.help{
margin-left: 20px;
margin-top: 30px;
}
ul li{
    list-style: none;
}
ul li a{
    color: white;
    text-decoration: none;
    margin: 0px;
}
.about h2{
    color: white;
}
.help{
    color: white;
}
.sell{
    color: white;
}
.shope{
    color: white;
}
.im{
    border: solid 1px #333;
}
.copy{
    text-align: right;
    background: black;
    padding-left: 10px;
}
.copy a{
    color: white;
}
#but{
    text-align: left;
    padding: 30px;
    border: solid 1px;
}
